
<form>
    <!-- <h2> Create Account </h2> -->
    <!-- It should project heading -->
    <ng-content select="h2"></ng-content>       

    <div class="form-group">
        <label for="Email">Email</label>
        <input type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input type="text" class="form-control">
    </div>
    <!-- <div class="button btn btn-primary">Sign Up</div> -->

    <ng-content select=".btn"></ng-content>
</form>
<hr>
